{% extends "layout.html" %}
{% block title %}Add Person{% endblock %}
{% block head %}Add Person{% endblock %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('add_persons') }}" method="post" enctype="multipart/form-data">
    <dl>
      <dt>Key File:</dt>
      <dd><input type="file" name="key_file" /></dd>
      <dd>&nbsp;</dd>
      <dd><a href="{{ url_for('showpeople') }}" class="cancel">Cancel</a><input type="submit" value="Upload"></dd>
      <dd>&nbsp;</dd>
    </dl>
  </form>
{% endblock %}
