<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>Git2Web :: {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <div id="header">
            <h1>{% block head %}{% endblock %}</h1>
        </div>
        <div class="indexlist">
            <div class="rightnav">
              {% if session.logged_in %}
                <a href="{{ url_for('index') }}">Repositories</a>
                <a href="{{ url_for('showpeople') }}">People</a>
                <a href="{{ url_for('logout') }}">Logout</a>
              {% endif %}
            </div>
              {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
              {% endfor %}
              {% block body %}{% endblock %}
            <div class="footer">Git2Web &copy; Nigel Babu 2010</div>
        </div>
    </div>
</body>
</html>
