{% extends "layout.html" %}
{% block body %}
            <table>
                <tr>
                    <th>Id</th>
                    <th>Group</th>
                    <th>Actions</th>
                <tr>
            {% for section in config.sections() if section not in ['group gitosis-admin','gitosis'] %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{ section.partition('group ').2 }}</a></td>
                <td class="actions"><a href="group/{{ section.partition('group ').2 }}">Edit</a></td>
            {% endfor %}
            </table>
            <div class="actionlist">
                <div class="actions">
                    <ul>
                        <li><a href="#">Add Group</a></li>
                </div>
            </div>
            <div class="footer">Git2Web &copy; Nigel Babu 2010
            </div>
{% endblock %}

